<nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="{{ path('home') }}">RSE-IT</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('home') }}">
            <i class="bi bi-house-door-fill"></i> Accueil
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('activites') }}">
            <i class="bi bi-tree-fill"></i> Activités
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('evenements') }}">
            <i class="bi bi-calendar-event-fill"></i> Événements
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('galerie') }}">
            <i class="bi bi-images"></i> Galerie
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('contact') }}">
            <i class="bi bi-telephone-fill"></i> Contact
          </a>
        </li>
      </ul>
      <div class="d-flex ms-lg-3">
        <a class="btn btn-outline-light" href="{{ path('contact') }}">Faire un don</a>
      </div>
    </div>
  </div>
</nav>
